.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  font-style: normal;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: var(--main-background-image);
  background-position: center;
}
.home-header {
  gap: 10px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  background-image: var(--main-background-image);
  background-color: var(--background-element-color);
  box-shadow: 0 2px 0 var(--shadow-color);
}
.home-nav {
  gap: 10px;
  width: 1100px;
  display: flex;
  padding: 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  width: 89px;
  height: 49px;
  display: flex;
  padding: 3px 5px;
  align-items: center;
  flex-direction: row;
  background-image: var(--logo-image);
}
.home-sectioncontact {
  gap: 24px;
  display: flex;
  align-items: center;
}
.home-div {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.home-text {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.home-div1 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.home-settings-container {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-lang {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  border-radius: 50%;
}
.home-lang:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px var(--shadow-color);
  border-radius: 50%;
}
.home-lang:active {
  transform: scale(0.9);
}
.home-theme {
  gap: 10px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  flex-direction: column;
  transition: filter 0.3s ease;
}
.home-theme:hover {
  cursor: pointer;
  filter: invert(44%) sepia(50%) saturate(235%) hue-rotate(74deg) brightness(94%) contrast(92%);
}
.home-theme:active {
  transform: scale(0.9);
}
.home-text02 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-section {
  gap: 56px;
  width: 1110px;
  height: 100vh;
  display: flex;
  padding: 100px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-content {
  flex-direction: column;
}
.home-text04 {
  color: var(--text-main-color);
  width: 786px;
  height: auto;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.home-btn {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 8px;
  margin-top: 40px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--text-main-color);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  transition: border-color 0.2s ease;
}
.home-btn:hover {
  cursor: pointer;
  border-color: var(--color-accent);
}
.home-btn:active {
  transform: scale(0.98);
}
.home-text06 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-blockwedoing {
  gap: 56px;
  width: 1110px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text08 {
  color: var(--text-main-color);
  width: 786px;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.home-text08 {
  font-size: 36px;
}

.home-text08 {
  height: auto;
}

.home-section1 {
  gap: 30px;
  width: 1110px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-item {
  gap: 8px;
  width: 255px;
  height: 300px;
  display: flex;
  padding: 24px;
  box-shadow: 0 0 15px 0 var(--shadow-color) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--background-element-color);
}
.home-icon {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.lottie-container {
  gap: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-icon01 {
  gap: 10px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}
.home-icon02 {
  top: 35px;
  left: -93px;
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
}
.home-text10 {
  color: var(--text-main-color);
  height: auto;
  font-size: 30px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140.18750190734863%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text12 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-item01 {
  gap: 8px;
  width: 255px;
  height: 300px;
  display: flex;
  padding: 24px;
  box-shadow: 0 0 15px 0 var(--shadow-color) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--background-element-color);
}
.home-icon03 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-icon04 {
  gap: 10px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}

.home-icon05 {
  top: 35px;
  left: -93px;
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
}
.lottie-container-01 {
  gap: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-text14 {
  color: var(--text-main-color);
  height: auto;
  font-size: 30px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140.18750190734863%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text16 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-item02 {
  gap: 8px;
  width: 255px;
  height: 300px;
  display: flex;
  padding: 24px;
  box-shadow: 0 0 15px 0 var(--shadow-color) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--background-element-color);
}
.home-icon06 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.lottie-container-02 {
  gap: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-icon07 {
  gap: 10px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}
.home-icon08 {
  top: 35px;
  left: -93px;
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
}
.home-text18 {
  color: var(--text-main-color);
  height: auto;
  font-size: 30px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140.18750190734863%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text20 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-item03 {
  gap: 8px;
  width: 255px;
  height: 300px;
  display: flex;
  padding: 24px;
  box-shadow: 0 0 15px 0 var(--shadow-color) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: var(--background-element-color);
}
.home-icon09 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.lottie-container-03 {
  gap: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-icon10 {
  gap: 10px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}
.home-icon11 {
  top: 35px;
  left: -93px;
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
}
.home-text22 {
  color: var(--text-main-color);
  height: auto;
  font-size: 30px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140.18750190734863%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text24 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-blockwhyus {
  gap: 56px;
  width: 1110px;
  height: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text26 {
  color: var(--text-main-color);
  height: auto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.home-section2 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-section3 {
  gap: 107px;
  width: 1110px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-item04 {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-item04:hover {
  border-color: var(--color-accent);
}
.home-head {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text28 {
  color: var(--color-accent);
  height: auto;
  flex-grow: 1;
  font-size: 64px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-text31 {
  color: var(--text-main-color);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text33 {
  color: var(--additional-text-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-item05 {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-item05:hover {
  border-color: var(--color-accent);
}
.home-head1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text35 {
  color: var(--color-accent);
  height: auto;
  flex-grow: 1;
  font-size: 64px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-text38 {
  color: var(--text-main-color);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text39 {
  color: var(--additional-text-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-item06 {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-item06:hover {
  border-color: var(--color-accent);
}
.home-head2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text41 {
  color: var(--color-accent);
  height: auto;
  flex-grow: 1;
  font-size: 64px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-text44 {
  color: var(--text-main-color);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text45 {
  color: var(--additional-text-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-section4 {
  gap: 89px;
  width: 1110px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-item07 {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-item07:hover {
  border-color: var(--color-accent);
}
.home-head3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text47 {
  color: var(--color-accent);
  height: auto;
  flex-grow: 1;
  font-size: 64px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-text50 {
  color: var(--text-main-color);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text52 {
  color: var(--additional-text-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-item08 {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-item08:hover {
  border-color: var(--color-accent);
}
.home-head4 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text54 {
  color: var(--color-accent);
  height: auto;
  flex-grow: 1;
  font-size: 64px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-text57 {
  color: var(--text-main-color);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text58 {
  color: var(--additional-text-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-item09 {
  width: 300px;
  height: 200px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-item09:hover {
  border-color: var(--color-accent);
}
.home-head5 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text60 {
  color: var(--color-accent);
  height: auto;
  flex-grow: 1;
  font-size: 64px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-text63 {
  color: var(--text-main-color);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text64 {
  color: var(--additional-text-color);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
 font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}
.home-blockblog {
  gap: 56px;
  width: 920px;
  height: auto;
  margin-top: 100px;
  //TODO return display: flex;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-text66 {
  color: var(--text-main-color);
  height: auto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.home-itemblog {
  gap: 47px;
  width: 1100px;
  display: flex;
  padding: 16px;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.2s ease;
}
.home-itemblog:hover {
  border-color: var(--color-accent);
}
.home-img {
  width: 243px;
  height: 137px;
}
.home-sectiontext {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text70 {
  color: var(--text-main-color);
  width: 614px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-iconarrow {
  gap: 10px;
  display: flex;
  padding: 2px 6px;
  overflow: hidden;
  align-items: flex-start;
}
.home-icon12 {
  width: fit-content;
  height: 28px;
}
.home-telegram {
  width: 23px;
  height: 23px;
  background-image: var(--telegram-image);
  transition: filter 0.3s ease;
}
.home-telegram:hover {
  cursor: pointer;
  filter: invert(44%) sepia(50%) saturate(235%) hue-rotate(74deg) brightness(94%) contrast(92%);
}
.home-telegram:active {
  transform: scale(0.9);
}
.home-email {
  width: 24px;
  height: 24px;
  background-image: var(--email-image);
  transition: filter 0.3s ease;
}
.home-email:hover {
  cursor: pointer;
  filter: invert(44%) sepia(50%) saturate(235%) hue-rotate(74deg) brightness(94%) contrast(92%);
}
.home-email:active {
  transform: scale(0.9);
}
.home-form {
  gap: 56px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text62 {
  color: var(--text-main-color);
  height: auto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-section5 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-input-name {
  gap: 10px;
  color: var(--text-main-color);
  width: 540px;
  display: flex;
  padding: 8px 16px;
  font-size: 20px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Futura PT, serif;
  font-weight: 300;
  border-radius: 8px;
}
.input-name-error {
  color: var(--dl-color-danger-700);
  display: flex;
  visibility: hidden;
  font-size: 14px;
  text-align: left;
  margin-top: 4px;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Futura PT, serif;
  font-weight: 300;
}
.input-email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-input-email {
  gap: 10px;
  color: var(--text-main-color);
  width: 540px;
  display: flex;
  padding: 8px 16px;
  font-size: 20px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Futura PT, serif;
  font-weight: 300;
  border-radius: 8px;
}
.input-email-error {
  color: var(--dl-color-danger-700);
  display: flex;
  visibility: hidden;
  font-size: 14px;
  text-align: left;
  margin-top: 4px;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Futura PT, serif;
  font-weight: 300;
}
.input-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-input-message {
  gap: 10px;
  color: var(--text-main-color);
  width: 540px;
  height: 140px;
  display: flex;
  padding: 8px 16px;
  resize: none;
  font-size: 20px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Futura PT, serif;
  font-weight: 300;
  border-radius: 8px;
}
.sending-status {
  color: var(--additional-text-color);
  min-height: 18px;
  display: flex;
  font-size: 14px;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: Futura PT, serif;
  font-weight: 300;
}
.home-btn-send {
  gap: 10px;
  width: 200px;
  display: flex;
  padding: 8px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--text-main-color);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  transition: border-color 0.2s ease;
}
.home-btn-send:hover {
  cursor: pointer;
  border-color: var(--color-accent);
}
.home-btn-send:active {
  transform: scale(0.98);
}
.home-text65 {
  color: var(--text-main-color);
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Futura PT, serif;
  font-weight: 300;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease;
}
.bottom_divider {
  border: 1px solid var(--shadow-color);
  margin-top: 16px;
  width: 100%;
}
.home-bottom {
  width: 1110px;
  display: flex;
  margin: 8px 16px 16px 16px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo-bottom {
  min-height: 45px;
  min-width: 81px;
  background-image: var(--logo-image);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.home-text-linkedin {
  color: var(--dl-color-gray-700);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 200;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}
.home-text-linkedin:hover {
  cursor: pointer;
  color: var(--additional-text-color);
}
.home-text-linkedin:active {
  transform: scale(0.98);
}
.home-text-privacy-policy {
  color: var(--dl-color-gray-700);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Futura PT, serif;
  font-weight: 200;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}
.home-text-privacy-policy:hover {
  cursor: pointer;
  color: var(--additional-text-color);
}
.home-text-privacy-policy:active {
  transform: scale(0.98);
}
@media(max-width: 1440px) {
  .home-container {
    background-size: cover;
    background-image: var(--main-background-image);
    background-position: center;
  }
}
@media(max-width: 1200px) {
  .home-header {
    width: 100%;
  }
  .home-nav {
    gap: 16px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .home-section {
    width: 100%;
  }
  .home-blockwedoing {
    width: 100%;
    position: relative;
  }
  .home-section1 {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .home-item {
    width: 25%;
    flex-wrap: wrap;
    align-items: center;
  }
  .home-item01 {
    width: 25%;
    align-items: center;
  }
  .home-item02 {
    width: 25%;
    align-items: center;
  }
  .home-item03 {
    width: 25%;
    align-items: center;
  }
  .home-blockwhyus {
    width: 100%;
    position: relative;
  }
  .home-section2 {
    width: 100%;
    align-items: center;
  }
  .home-section3 {
    width: 100%;
    flex-wrap: wrap;
  }
  .home-section4 {
    width: 100%;
    flex-wrap: wrap;
  }
  .home-blockblog {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .home-header {
    width: 100%;
    align-self: stretch;
  }
  .home-nav {
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  .home-sectioncontact {
    width: 200px;
    justify-content: center;
  }
  .home-div {
    width: auto;
  }
  .home-section {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text04 {
    width: auto;
  }
  .home-blockwedoing {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-section1 {
    width: auto;
    flex-wrap: wrap;
  }
  .home-blockwhyus {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-section3 {
    justify-content: center;
  }
  .home-section4 {
    justify-content: center;
  }
  .home-blockblog {
    height: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-itemblog {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media(max-width: 767px) {
  .home-itemblog {
    justify-content: center;
  }
  .home-sectiontext {
    width: 100%;
  }
  .home-text70 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-text04 {
    font-size: 42px;
  }
  .home-btn {
    width: 320px;
  }
}
